* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  
}

/* Global link styles */
a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}